.contacts__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    max-width: 660px;
  }

  @media (min-width: $desctop-width) {
    max-width: 940px;
  }
}

.contacts__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--darken-color);
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 51px;
  }

  @media (min-width: $desctop-width) {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 61px;
  }
}

.contacts__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desctop-width) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.contacts__item {
  margin: 0;
  text-align: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 22px;

    @media (min-width: $desctop-width) {
      .contacts__description {
        width: 211px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    &:last-child {
      flex-grow: 1;
    }
  }

  @media (min-width: $desctop-width) {
    &:last-child {
      flex-grow: 0;
    }

    &:nth-child(2) {
      order: 2;
    }
  }
}

.contacts__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--darken-color);
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 34px;
  }
}

.contacts__description {
  margin: 0;
}

.contacts__phone,
.contacts__description,
.contacts__mail {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: var(--red-color);
}

.contacts__mail {
  &:hover {
    color: var(--darken-color);
  }

  &:active {
    color: rgb(40, 54, 69, 0.3);
  }
}
