.container-form__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    padding: 0 20px;
    margin-bottom: 29px;
  }

  @media (min-width: $desctop-width) {
    max-width: 980px;
    margin-bottom: 13px;
  }
}

.container-form__title-content {
  padding-top: 44px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 540px;
    margin: 0 auto;
    padding-top: 91px;
  }

  @media (min-width: $desctop-width) {
    width: 756px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container-form__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: var(--darken-color);

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.mobile-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
