.container-form__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    padding: 0 20px;
    margin-bottom: 29px;
  }

  @media (min-width: $desctop-width) {
    max-width: 980px;
    margin-bottom: 13px;
  }
}

.container-form__title-content {
  padding-top: 44px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 540px;
    margin: 0 auto;
    padding-top: 91px;
  }

  @media (min-width: $desctop-width) {
    width: 756px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desctop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form-feedback__name-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desctop-width) {
    padding-top: 5px;
    width: 434px;
  }
}

.form-feedback__fieldset {
  position: relative;
  border: none;
  padding: 35px 0;
  margin: 0;

  &--achivments {
    .form-feedback__list {
      padding: 0 20px;
      padding-top: 7px;
    }
  }

  &--contacts {
    padding-top: 0;
    margin-top: -7px;
  }

  &--apps {
    padding: 0 20px;

    .form-feedback__legend {
      margin-bottom: 39px;
    }
  }

  &--emotions {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 72px 0;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    &--name {
      padding-bottom: 0;
      border: none;
    }

    &--apps {
      padding: 58px 59px 13px 59px;
    }

    &--contacts {
      padding: 46px 58px 26px;
    }

    &--achivments {
      padding: 50px 58px 41px 38px;
      margin-bottom: 65px;
    }

    &--emotions {
      padding: 31px 58px 34px;
    }
  }

  @media (min-width: $desctop-width) {
    &--apps {
      padding-left: 71px;
    }

    &--contacts {
      padding-top: 41px;
      padding-bottom: 0;
    }

    &--achivments {
      padding: 55px 8px 3px 58px;

      .form-feedback__list {
        padding: 0;
      }
    }
  }
}

.form-feedback__list--column {
  @media (min-width: $desctop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.form-feedback__list--string {
  @media (min-width: $desctop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-feedback__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }

  &--contacts {
    flex-direction: column-reverse;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 52px;

    &--contacts {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;

      &::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 59px;
        background-color: #e5e5e5;
        background-repeat: no-repeat;
        background-position: 50%;
        top: 2px;
        right: 2px;
      }
    }

    &--phone {
      &::before {
        background-image: url("../img/phone-icon-form.svg");
      }
    }

    &--mail {
      &::before {
        background-image: url("../img/mail-icon-form.svg");
      }
    }
  }

  @media (min-width: $desctop-width) {
    &--contacts {
      width: 375px;
      margin-bottom: 12px;
    }
  }
}

.form-feedback__label {
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--red-color);

  &--contacts {
    margin-left: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 19px;

    &--contacts {
      margin-right: 0;
      margin-left: 19px;
    }
  }
}

.form-feedback__input {
  width: 100%;
  padding: 24px 70px 20px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--darken-color);
  }

  &:hover {
    border-color: var(--darken-color);
  }

  &:focus {
    outline: none;
    border-color: var(--red-color);
  }

  @media (min-width: $tablet-width) {
    &--contacts {
      margin-bottom: 8px;
    }
  }

  @media (min-width: $desctop-width) {
    &--contacts {
      margin-bottom: 10px;
    }
  }
}

.form-feedback__achivments-inner {
  min-width: 320px;
  max-width: 767px;
  background-color: var(--lightgrey-color);

  @media (min-width: $tablet-width) {
    order: 4;
    background-color: transparent;
  }

  @media (min-width: $desctop-width) {
    max-width: 100%;
    width: 100%;
  }
}

.form-feedback__legend {
  width: 225px;
  text-align: center;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    width: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    top: -1px;
    transform: translateY(-50%);
    padding: 0;
  }
}

.form-feedback__legend-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-color);

  @media (min-width: $tablet-width) {
    position: relative;
    display: inline-flex;
    background-color: var(--light-color);

    &::before {
      content: "";
      position: absolute;
      margin-left: -30px;
      background-color: var(--light-color);
      width: 30px;
      height: 18px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      margin-right: -30px;
      background-color: var(--light-color);
      width: 30px;
      height: 18px;
      right: 0;
    }
  }
}

.form-feedback__achivments-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $desctop-width) {
    width: 260px;
    padding-bottom: 0;

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
      order: 1;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 19px;
    }

    &:last-child {
      margin-bottom: 20px;
      padding-bottom: 38px;
    }
  }
}

.form-feedback__contacts-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desctop-width) {
    width: 100%;
  }
}

.form-feedback__apps-inner {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    order: 2;
    background-color: transparent;
    margin-bottom: 72px;
  }

  @media (min-width: $desctop-width) {
    width: 434px;
    padding-top: 80px;
  }
}

.form-feedback__apps-item {
  margin-bottom: 45px;
}

.form-feedback__emotions-inner {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
    order: 5;
  }

  @media (min-width: $desctop-width) {
    width: 100%;
  }
}

.form-feedback__submit-inner {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    order: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desctop-width) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container-form__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: var(--darken-color);

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.mobile-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.form-feedback__label-checkbox {
  position: relative;
  display: block;
  padding-left: 59px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--darken-color);
  cursor: pointer;

  &:hover {
    &::before {
      border-color: var(--darken-color);
    }
  }

  &:active {
    &::before {
      border-color: var(--red-color);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    background-color: var(--light-color);
  }

  &::after {
    content: none;
    position: absolute;
    left: 9px;
    top: 8px;
    transform: rotate(-45deg);
    width: 21px;
    height: 10px;
    border-left: 2px solid #d22856;
    border-bottom: 2px solid #d22856;
  }
}

.form-feedback__checkbox[type="checkbox"]:checked + .form-feedback__label-checkbox {
  &::after {
    content: "";
  }
}

.form-feedback__label-radio {
  position: relative;
  display: block;
  padding-left: 70px;
  cursor: pointer;

  &:hover {
    &::before {
      border-color: var(--darken-color);
    }
  }

  &:active {
    &::before {
      border-color: var(--red-color);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: var(--light-color);
  }

  &::after {
    content: none;
    position: absolute;
    left: 13px;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--red-color);
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-feedback__radio[type="radio"]:checked + .form-feedback__label-radio {
  &::after {
    content: "";
  }
}

.form-feedback__textarea {
  margin: 0;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin-top: 16px;
  padding: 14px 19px;
  min-height: 200px;
  resize: vertical;

  &:hover {
    border-color: var(--darken-color);
  }

  &:focus {
    outline: none;
    border-color: var(--red-color);
  }

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--darken-color);
  }

  @media (min-width: $tablet-width) {
    &--emotions {
      padding: 14px 20px;
      min-height: 192px;
    }
  }

  @media (min-width: $desctop-width) {
    margin-top: 11px;

    &--emotions {
      min-height: 128px;
    }
  }
}

.form-feedback__button,
.modalform__button {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 1px;
  color: var(--light-color);
  background-color: var(--green-color);
  margin-bottom: 34px;
  padding: 10px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form-feedback__button {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.form-feedback__notification {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--darken-color);

  @media (min-width: $desctop-width) {
    display: inline-block;
  }
}

.form-feedback__star {
  color: var(--red-color);
}

.form-feedback__addtext {
  display: none;

  @media (min-width: $desctop-width) {
    display: inline-block;
  }
}
