.effect {
  display: none;
  background-image: url("../img/timer.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 238px 276px;

  @media (min-width: 768px) {
    display: block;
    min-height: 350px;
    background-position: top left;
  }

  @media (min-width: 1080px) {
    background-size: 298px 345px;
  }
}

.effect__content {
  @media (min-width: 768px) {
    max-width: 310px;
    margin-left: auto;
  }

  @media (min-width: 1080px) {
    max-width: 534px;
  }
}

.effect__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-color);
}

.effect__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--darken-color);
}

.effect__more {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--red-color);
}
