.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 100px;
    margin-bottom: 30px;
  }

  @media (min-width: $desctop-width) {
    background-color: var(--lightgrey-color);
    padding-bottom: 120px;
    margin-bottom: 72px;
  }
}

.effect__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 660px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &::before {
      content: "";
      position: absolute;
      width: 238px;
      height: 276px;
      left: 20px;
      top: -40px;
      background-image: url("../img/timer.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desctop-width) {
    max-width: 940px;
    grid-template-columns: 345px 1fr;

    &::before {
      width: 298px;
      height: 345px;
      background-image: url("../img/timer-desc.png");
    }
  }
}

.effect__content {
  @media (min-width: $tablet-width) {
    width: 310px;
    grid-column: 2;
  }

  @media (min-width: $desctop-width) {
    max-width: 534px;
  }
}

.effect__title {
  margin: 0;
  font-weight: 700;
  color: var(--dark-color);

  @media (min-width: $tablet-width) {
    width: 168px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desctop-width) {
    width: 298px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 37px;
  }
}

.effect__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--darken-color);

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
  }

  @media (min-width: $desctop-width) {
    width: 534px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 47px;
  }
}

.effect__more {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--red-color);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desctop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
