.features {
  padding-top: 87px;
  background-image: url("../img/triangl-bg.svg");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.features__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    max-width: 660px;
  }

  @media (min-width: 1080px) {
    max-width: 940px;
  }
}

.features__item {
  &--img {
    padding-bottom: 386px;
    background-image: url("../img/iphone-screen-3.png");
    background-repeat: no-repeat;
    background-position: 50% 146px;

    @media (min-width: 768px) {
      background-position: left top;
      background-size: 268px 547px;
    }
  }
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-color);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.features__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--darken-color);

  @media (min-width: 768px) {
    text-align: left;
  }
}

.features__list {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
  }

  @media (min-width: 1080px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    padding-top: 450px;
    margin-left: auto;
  }
}
