.filter__wrapper {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    padding-top: 37px;
  }

  @media (min-width: $desctop-width) {
    max-width: 980px;
  }
}

.filter__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: var(--darken-color);

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
    font-size: 18px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 75px;
  }
}

.filter__form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--lightgrey-color);
}

.filter__control {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr;
    gap: 43px;
  }

  @media (min-width: $desctop-width) {
    margin-left: 80px;
  }
}

.filter__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
