.main-nav {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;
}

.main-nav__list {
  display: none;

  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 79px;
  }
}

.main-nav--closed .main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 3;
  width: 100%;
}

.main-nav__link {
  color: var(--light-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--red-color);
    transition: all 0.2s ease-in-out;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.1s ease-in-out;
  }

  @media (min-width: $desctop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}

