.main-nav {
  padding-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  background-color: var(--darken-color);

  &--closed {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  order: 3;
  width: 100%;
  padding-top: 20px;

  @media (min-width: $desctop-width) {
    grid-template-columns: repeat(4, auto);
    gap: 79px;
  }
}

.main-nav__item {
  padding: 14px 0;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__list-hidden {
  @media (min-width: $desctop-width) {
    display: grid;
  }
}

.main-nav__link {
  color: var(--light-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--red-color);
    transition: all 0.2s ease-in-out;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.1s ease-in-out;
  }

  @media (min-width: $desctop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }

  &--current {
    @media (min-width: $desctop-width) {
      padding-bottom: 19px;
      border-bottom: 2px solid var(--light-color);
    }
  }
}

