.main-header {
  position: relative;
  background-image: url("../img/bg-mobile.jpg");
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-height: 462px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-desktop.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    min-height: 729px;
  }

  @media (min-width: $desctop-width) {
    min-height: 853px;
  }
}

.main-header__wrapper {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desctop-width) {
    width: auto;
  }
}

.logo-pink-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desctop-width) {
    display: none;
  }
}

.logo-pink-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desctop-width) {
    display: none;
  }
}

.logo-pink-desctop {
  display: none;

  @media (min-width: $desctop-width) {
    display: inline-block;
  }
}

.main-header__info {
  margin-top: -360px;
  margin-bottom: 330px;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin-top: -255px;
    margin-bottom: 40px;
    margin-left: 30px;
  }

  @media (min-width: $desctop-width) {
    margin-top: -230px;
  }
}

.main-header__intro {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-header__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--light-color);

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
}

