.reviews__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--darken-color);
}

.reviews__author {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-color);
}

.reviews__author-info {
  font-weight: 400;
  font-size: 18px;
  color: var(--darken-color);
}
