html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
  line-height: 30px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
