.table-pricing {
  position: relative;
  padding-top: 100px;
  margin-bottom: 39px;
  width: 834px;
  left: 50%;
  transform: translateX(-50%);
  border-spacing: 0;

  @media (min-width: $tablet-width) {
    position: static;
    width: 100%;
    left: auto;
    transform: none;
    margin-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    padding-top: 0;
  }
}

.table-pricing__item {
  border-right: 2px solid #e5e5e5;
  padding: 13px 0 25px 0;

  &:nth-child(2) {
    border-radius: 1px 0 0 0;
  }

  &:last-child {
    border-color: var(--darken-color);
    border-radius: 0 1px 0 0;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 0 10px 2px;
  }

  @media (min-width: $desctop-width) {
    padding: 3px 0 5px 4px;
  }

  &--tariffs {
    width: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--darken-color);

    @media (min-width: $tablet-width) {
      width: 155px;
    }

    @media (min-width: $desctop-width) {
      font-size: 18px;
    }
  }

  &--empty {
    display: none;
    border-right: none;
    height: 75px;
    border-bottom: 2px solid #e5e5e5;

    @media (min-width: $tablet-width) {
      display: block;
      height: 82px;
    }

    @media (min-width: $desctop-width) {
      height: 94px;
    }
  }

  &--hits {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 74px;
      height: 74px;
      left: 0;
      top: 0;
      background-image: url("../img/hits-logo.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/hits-logo-tablet.svg");
      }
    }

    @media (min-width: $desctop-width) {
      &::before {
        width: 74px;
        height: 74px;
        background-image: url("../img/hits-logo.svg");
      }
    }
  }
}

.table-pricing__price {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $desctop-width) {
    font-size: 24px;
  }
}

.table-pricing__cell {
  background-color: var(--light-color);
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;

  &:first-child {
    border-left: 2px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 25%;
    padding: 7px 15px 8px;
  }

  @media (min-width: $desctop-width) {
    padding: 17px 20px 13px;
  }

  &--function {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    text-align: left;
    color: var(--darken-color);

    @media (min-width: $tablet-width) {
      display: table-cell;
    }

    @media (min-width: $desctop-width) {
      font-size: 18px;
    }
  }

  &--on,
  &--off {
    padding: 15px 20px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 0;
    }
  }
}

.table-pricing__cell-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.table-pricing__cell-mobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
