.tariffs {
  padding-top: 87px;
  background-color: #f2f2f2;
  background-image: url("../img/triangl-bg.svg");
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

.tariffs__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    max-width: 660px;
  }

  @media (min-width: 1080px) {
    max-width: 940px;
  }
}

.table-pricing {
  display: flex;
  flex-direction: column;

  tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.table-pricing__item {
  &--tariffs {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--darken-color);
    border-color: 2px solid var(--darken-color);
  }

  &--price {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--darken-color);
    border-color: 2px solid var(--darken-color);
  }
}

.table-pricing__cell {
  &--function {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    color: var(--darken-color);
  }
}
