.tariffs {
  position: relative;
  padding-bottom: 41px;
  background-color: var(--lightgrey-color);
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
  }

  @media (min-width: $desctop-width) {
    padding-top: 155px;
    margin-bottom: 13px;
    padding-bottom: 65px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 19px;
    // -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
    clip-path: polygon(0 100%, 0 0, 100% 0);
    background-color: var(--light-color);

    @media (min-width: $tablet-width) {
      height: 50px;
    }

    @media (min-width: $desctop-width) {
      height: 98px;
    }
  }
}

.tariffs__wrapper {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desctop-width) {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.tariffs__control {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-left: -13px;
}

.tariffs__label {
  position: relative;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: rgb(40, 54, 69, 0.3);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desctop-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.tariffs__input[id="tariff-toggle1"]:checked ~ .tariffs__label[for="tariff-toggle1"]::after,
.tariffs__input[id="tariff-toggle2"]:checked ~ .tariffs__label[for="tariff-toggle2"]::after,
.tariffs__input[id="tariff-toggle3"]:checked ~ .tariffs__label[for="tariff-toggle3"]::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--darken-color);
}
