:root {
  // base
  --font-family: "Open Sans", "Arial", sans-serif;

  // colors
  --light-color: #ffffff;
  --lightgrey-color: #f2f2f2;
  --darken-color: #283645;
  --dark-color: #000000;
  --red-color: #d22856;
  --green-color: #2aab6d;
  --mediumgreen-color: #03c482;
  --lightgreen-color: #00ffa8;
}

// viewports
$tablet-width: 660px;
$desctop-width: 1080px;
